{% extends 'base.html' %}
{% block bar %}
Відновлення паролю
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1><strong>Забули пароль?</strong></h1>
            <hr>
            <p>Вкажіть Email який Ви використали при реєстрації</p>

            <p>{{ form.as_p }}</p>
    <button type="submit" class="btn btn-primary">Надіслати</button>
        </div>
    </div>
    </div>
</form>
{% endblock content %}