{% extends 'base.html' %}
{% block bar %}
Новий пароль
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1><strong>Створення нового паролю</strong></h1>
    <p>
        Новий пароль<br>
        {{ form.new_password1 }}</p>
            Повторіть його<br>
        {{ form.new_password2 }}
            {{ form.errors }}
<p>
    <button type="submit" class="btn btn-primary">Створити</button>
        </div>
    </div>
    </div>
</form>
{% endblock content %}