{% extends 'base.html' %}
{% block bar %}
Запит надіслано
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1><strong>Перевірте пошту</strong></h1>
            <hr>
            <i>Ми надіслали вам інструкції щодо встановлення пароля,
            якщо з введеною вами електронною поштою існує обліковий запис. Ви повинні отримати їх найближчим часом.
            Якщо ви не отримали електронного листа, переконайтеся, що ви ввели адресу,
            на яку ви зареєструвалися, і перевірте папку зі спамом</i>
            <p>
            <p>
            <p>
        </div>
    </div>
    </div>
</form>
{% endblock content %}