{% extends 'base.html' %}

{% block bar %}
Наші контакти
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <!-- Divider-->

            <hr class="my-4"/>
            <!-- Post preview-->
            <p>Наша пошта: <b>Test@gmail.com</b></p>
            <p>Наш номер телефону: <b>+380984323333</b></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.219757431259!2d30.46201401043057!3d50.38712886402802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8e1cd766ae3%3A0x4b9198d46ed77b7c!2sZhk%20Likohrad%203!5e0!3m2!1sru!2sua!4v1638718809081!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- Divider-->
        <!-- Divider-->
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
{% endblock %}
