{% extends 'base.html' %}

{% block bar %}
{{detail_post.title}}
{% endblock %}

{% block content %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>{{detail_post.anons}}</h1>
                <p>{{detail_post.full_text|safe}}</p>
            </div>

        </div>
        <hr>
        <p>Коментарі: {{detail_post.comment_post.all.count}}</p>
        <hr>
        {% if message %}
        <div class="alert alert-success">
            {% for m in messages %}
            {{m}}
            {% endfor %}
            {% endif %}
        </div>
        <ul>
            {% for item in detail_post.get_review %}
            <div class="row gx-2 gx-lg-5 justify-content-center">
                <div class="col-md-8 col-lg-8 col-xl-7">
                    <li>
                        Дата створення: {{ item.create_data }} <br>
                        Автор: {{ item.user }} <br>
                        <style type="text/css">.perenos {
  border:0.0px solid #B0C4DE;
  margin:0px;
  padding:10px;
  width:600px;
  word-break:break-all;
  }
                        </style>
                        <div class="perenos">
                            <i>{{ item.body}}</i>
                        </div>
                        <a href="#add_form" onclick="js_rep('{{ item.user }}', '{{ item.id }}')">Відповісти</a>
                        <hr>
                        {% for replay in item.get_children %}
                        <div class="perenos">
                        <p style="margin-left: 50px;">
                            Дата створення: {{ replay.create_data }}<br>
                            Автор: {{ replay.user }}<br>
                            {{ replay.body }}</div>
                        </p></li>
                    <hr>
                    {% endfor %} 
                </div>
            </div>
            {% endfor %}
        </ul>
        {% if request.user.is_authenticated %}
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Додати коментар</p>
                <div class="col-6">
                    <form action="{% url 'add_review' detail_post.id %}" id="add_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" maxlength="4" name="parent" id="contactparent" value="">
                        <textarea class="form-control border" rows="5" maxlength="150" name="body" id="contactcomment"
                                  required=""></textarea>
                    </form>
                    <button form="add_form" type="submit" class="btn btn-primary">Додати</button>
                </div>
            
            </div>
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <button form="add_form" type="submit" class="btn btn-primary">
                    <a href="{% url 'login' %}">Авторизуйтесь</a>
                </button>
                <i>щоб можна було залишати коментарі</i>
                <div class="col-6">
                </div>
            </div>
            {% endif %}

</article>
<script>
            function js_rep(user, id) {
                document.getElementById("contactparent").value = id;
                document.getElementById("contactcomment").innerText = `${user},`
            }



</script>
{% endblock %}